<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhataBook</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="main h-screen w-full ">
        <nav class=" h-[10vh] w-full flex justify-between px-16 py-2">
            <div class="left">
                <h1 class="font-[600] text-[3vh]">Khatabook</h1>
            </div>
            <div class="right flex text-[2.1vh] font-semibold gap-5 items-center "> <a href="/home"
                    class="active:scale-[0.92] ">Home</a> <a href="/createnew" class="active:scale-[0.92]">Create New
                    Hisaab</a> </div>
        </nav>
