<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhataBook</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="main h-screen w-full ">
        <nav class=" h-[10vh] w-full flex justify-between px-16 py-2">
            <div class="left">
                <h1 class="font-[600] text-[3vh]">Khatabook</h1>
            </div>
            <div class="right flex text-[2.1vh] font-semibold gap-5 items-center "> <a href="/home"
                    class="active:scale-[0.92] ">Home</a> <a href="/createnew" class="active:scale-[0.92]">Create New
                    Hisaab</a> </div>
        </nav> -->
<%- include('./partials/header.ejs') %>

        <div class="box h-[40vh] w-[30vw]  absolute top-[30%] left-[50%] translate-x-[-50%]  justify-center py-5">
            <form action="/login" method="post" class="flex flex-col gap-4  items-center">

                <h1 class="font-semibold mb-1 text-[18px] mr-16">Login your account</h1>
                <input type="email" placeholder="Email" name="email"
                    class="h-[5.2vh] w-[18vw] px-2 rounded-lg bg-gray-100 py-1 border-[1.5px]   border-solid  border-gray-300">
                <input type="password" placeholder="Password" name="password"
                    class="h-[5.2vh] w-[18vw] px-2 rounded-lg bg-gray-100 py-1 border-solid border-[1.5px] border-gray-300">
                <input type="submit" value="Create"
                    class="bg-blue-500 px-4 py-1 h-10 w-24 text-white font-semibold text-center rounded-lg">
            </form>


        </div>



    </div>
    <%- include('./partials/footer.ejs') %>
<!-- </body>

</html> -->